:root {
  --background-brand-default: #2C2C2C;
  --background-brand-hover: #1E1E1E;
  --background-brand-secondary: #E6E6E6;
  --background-brand-secondary-hover: #D9D9D9;
  --background-brand-tertiary: #F5F5F5;
  --background-brand-tertiary-hover: #E6E6E6;
  --background-danger-default: #EC221F;
  --background-danger-hover: #C00F0C;
  --background-danger-secondary: #FDD3D0;
  --background-danger-secondary-hover: #FCB3AD;
  --background-danger-tertiary: #FEE9E7;
  --background-danger-tertiary-hover: #FDD3D0;
  --background-default-default: #FFFFFF;
  --background-default-default-hover: #F5F5F5;
  --background-default-secondary: #F5F5F5;
  --background-default-secondary-hover: #E6E6E6;
  --background-default-tertiary: #D9D9D9;
  --background-default-tertiary-hover: #B3B3B3;
  --background-disabled-default: #D9D9D9;
  --background-neutral-default: #5A5A5A;
  --background-neutral-hover: #434343;
  --background-neutral-secondary: #CDCDCD;
  --background-neutral-secondary-hover: #B2B2B2;
  --background-neutral-tertiary: #E3E3E3;
  --background-neutral-tertiary-hover: #CDCDCD;
  --background-positive-default: #14AE5C;
  --background-positive-hover: #009951;
  --background-positive-secondary: #CFF7D3;
  --background-positive-secondary-hover: #AFF4C6;
  --background-positive-tertiary: #EBFFEE;
  --background-positive-tertiary-hover: #CFF7D3;
  --background-utilities-blanket: rgba(0, 0, 0, 0.698);
  --background-utilities-measurement: #FAE1FA;
  --background-utilities-overlay: rgba(0, 0, 0, 0.502);
  --background-utilities-scrim: rgba(255, 255, 255, 0.8);
  --background-warning-default: #E8B931;
  --background-warning-hover: #E5A000;
  --background-warning-secondary: #FFF1C2;
  --background-warning-secondary-hover: #FFE8A3;
  --background-warning-tertiary: #FFFBEB;
  --background-warning-tertiary-hover: #FFF1C2;
  --border-brand-default: #2C2C2C;
  --border-brand-secondary: #444444;
  --border-brand-tertiary: #757575;
  --border-danger-default: #900B09;
  --border-danger-secondary: #C00F0C;
  --border-danger-tertiary: #EC221F;
  --border-default-default: #D9D9D9;
  --border-default-secondary: #757575;
  --border-default-tertiary: #383838;
  --border-disabled-default: #B3B3B3;
  --border-neutral-default: #303030;
  --border-neutral-secondary: #767676;
  --border-neutral-tertiary: #B2B2B2;
  --border-positive-default: #02542D;
  --border-positive-secondary: #009951;
  --border-positive-tertiary: #14AE5C;
  --border-utilities-measurement: #F19EDC;
  --border-utilities-swatch: rgba(0, 0, 0, 0.239);
  --border-warning-default: #522504;
  --border-warning-secondary: #975102;
  --border-warning-tertiary: #BF6A02;
  --icon-brand-default: #2C2C2C;
  --icon-brand-on-brand: #F5F5F5;
  --icon-brand-on-brand-secondary: #1E1E1E;
  --icon-brand-on-brand-tertiary: #2C2C2C;
  --icon-brand-secondary: #444444;
  --icon-brand-tertiary: #757575;
  --icon-danger-default: #900B09;
  --icon-danger-on-danger: #FEE9E7;
  --icon-danger-on-danger-secondary: #900B09;
  --icon-danger-on-danger-tertiary: #900B09;
  --icon-danger-secondary: #C00F0C;
  --icon-danger-tertiary: #EC221F;
  --icon-default-default: #1E1E1E;
  --icon-default-secondary: #757575;
  --icon-default-tertiary: #B3B3B3;
  --icon-disabled-default: #B3B3B3;
  --icon-disabled-on-disabled: #B3B3B3;
  --icon-neutral-default: #303030;
  --icon-neutral-on-neutral: #F3F3F3;
  --icon-neutral-on-neutral-secondary: #303030;
  --icon-neutral-on-neutral-tertiary: #434343;
  --icon-neutral-secondary: #5A5A5A;
  --icon-neutral-tertiary: #767676;
  --icon-positive-default: #02542D;
  --icon-positive-on-positive: #EBFFEE;
  --icon-positive-on-positive-secondary: #02542D;
  --icon-positive-on-positive-tertiary: #024023;
  --icon-positive-secondary: #009951;
  --icon-positive-tertiary: #14AE5C;
  --icon-utilities-icon: #D732A8;
  --icon-utilities-icon-on-measurement: #8A226F;
  --icon-warning-default: #522504;
  --icon-warning-on-warning: #401B01;
  --icon-warning-on-warning-secondary: #682D03;
  --icon-warning-on-warning-tertiary: #522504;
  --icon-warning-secondary: #975102;
  --icon-warning-tertiary: #BF6A02;
  --text-brand-default: #2C2C2C;
  --text-brand-on-brand: #F5F5F5;
  --text-brand-on-brand-secondary: #1E1E1E;
  --text-brand-on-brand-tertiary: #2C2C2C;
  --text-brand-secondary: #444444;
  --text-brand-tertiary: #757575;
  --text-danger-default: #900B09;
  --text-danger-on-danger: #FEE9E7;
  --text-danger-on-danger-secondary: #900B09;
  --text-danger-on-danger-tertiary: #900B09;
  --text-danger-secondary: #C00F0C;
  --text-danger-tertiary: #EC221F;
  --text-default-default: #1E1E1E;
  --text-default-secondary: #757575;
  --text-default-tertiary: #B3B3B3;
  --text-disabled-default: #B3B3B3;
  --text-disabled-on-disabled: #B3B3B3;
  --text-neutral-default: #303030;
  --text-neutral-on-neutral: #F3F3F3;
  --text-neutral-on-neutral-secondary: #303030;
  --text-neutral-on-neutral-tertiary: #434343;
  --text-neutral-secondary: #5A5A5A;
  --text-neutral-tertiary: #767676;
  --text-positive-default: #02542D;
  --text-positive-on-positive: #EBFFEE;
  --text-positive-on-positive-secondary: #02542D;
  --text-positive-on-positive-tertiary: #02542D;
  --text-positive-secondary: #009951;
  --text-positive-tertiary: #14AE5C;
  --text-utilities-text-on-measurement: #8A226F;
  --text-utilities-text-on-overlay: #0C0C0D;
  --text-warning-default: #522504;
  --text-warning-on-warning: #401B01;
  --text-warning-on-warning-secondary: #682D03;
  --text-warning-on-warning-tertiary: #522504;
  --text-warning-secondary: #975102;
  --text-warning-tertiary: #BF6A02;
}

[data-theme="dark"] {
  --background-brand-default: #F5F5F5;
  --background-brand-hover: #D9D9D9;
  --background-brand-secondary: #444444;
  --background-brand-secondary-hover: #757575;
  --background-brand-tertiary: #444444;
  --background-brand-tertiary-hover: #2C2C2C;
  --background-danger-default: #C00F0C;
  --background-danger-hover: #900B09;
  --background-danger-secondary: #690807;
  --background-danger-secondary-hover: #4D0B0A;
  --background-danger-tertiary: #4D0B0A;
  --background-danger-tertiary-hover: #300603;
  --background-default-default: #1E1E1E;
  --background-default-default-hover: #383838;
  --background-default-secondary: #2C2C2C;
  --background-default-secondary-hover: #1E1E1E;
  --background-default-tertiary: #444444;
  --background-default-tertiary-hover: #383838;
  --background-disabled-default: #383838;
  --background-neutral-default: #B2B2B2;
  --background-neutral-hover: #949494;
  --background-neutral-secondary: #303030;
  --background-neutral-secondary-hover: #242424;
  --background-neutral-tertiary: #303030;
  --background-neutral-tertiary-hover: #242424;
  --background-positive-default: #008043;
  --background-positive-hover: #02542D;
  --background-positive-secondary: #02542D;
  --background-positive-secondary-hover: #024023;
  --background-positive-tertiary: #024023;
  --background-positive-tertiary-hover: #062D1B;
  --background-utilities-blanket: rgba(0, 0, 0, 0.698);
  --background-utilities-measurement: #8A226F;
  --background-utilities-overlay: rgba(0, 0, 0, 0.502);
  --background-utilities-scrim: rgba(0, 0, 0, 0.8);
  --background-warning-default: #E8B931;
  --background-warning-hover: #E5A000;
  --background-warning-secondary: #682D03;
  --background-warning-secondary-hover: #522504;
  --background-warning-tertiary: #522504;
  --background-warning-tertiary-hover: #401B01;
  --border-brand-default: #F5F5F5;
  --border-brand-secondary: #D9D9D9;
  --border-brand-tertiary: #B3B3B3;
  --border-danger-default: #FDD3D0;
  --border-danger-secondary: #F4776A;
  --border-danger-tertiary: #EC221F;
  --border-default-default: #444444;
  --border-default-secondary: #757575;
  --border-default-tertiary: #B3B3B3;
  --border-disabled-default: #444444;
  --border-neutral-default: #F3F3F3;
  --border-neutral-secondary: #949494;
  --border-neutral-tertiary: #767676;
  --border-positive-default: #CFF7D3;
  --border-positive-secondary: #85E0A3;
  --border-positive-tertiary: #009951;
  --border-utilities-measurement: #D732A8;
  --border-utilities-swatch: rgba(255, 255, 255, 0.239);
  --border-warning-default: #FFF1C2;
  --border-warning-secondary: #E8B931;
  --border-warning-tertiary: #BF6A02;
  --icon-brand-default: #F5F5F5;
  --icon-brand-on-brand: #1E1E1E;
  --icon-brand-on-brand-secondary: #F5F5F5;
  --icon-brand-on-brand-tertiary: #F5F5F5;
  --icon-brand-secondary: #D9D9D9;
  --icon-brand-tertiary: #B3B3B3;
  --icon-danger-default: #FDD3D0;
  --icon-danger-on-danger: #FEE9E7;
  --icon-danger-on-danger-secondary: #FEE9E7;
  --icon-danger-on-danger-tertiary: #FEE9E7;
  --icon-danger-secondary: #F4776A;
  --icon-danger-tertiary: #EC221F;
  --icon-default-default: #FFFFFF;
  --icon-default-secondary: rgba(255, 255, 255, 0.698);
  --icon-default-tertiary: rgba(255, 255, 255, 0.4);
  --icon-disabled-default: #757575;
  --icon-disabled-on-disabled: #B3B3B3;
  --icon-neutral-default: #E3E3E3;
  --icon-neutral-on-neutral: #242424;
  --icon-neutral-on-neutral-secondary: #F3F3F3;
  --icon-neutral-on-neutral-tertiary: #F3F3F3;
  --icon-neutral-secondary: #CDCDCD;
  --icon-neutral-tertiary: #B2B2B2;
  --icon-positive-default: #CFF7D3;
  --icon-positive-on-positive: #EBFFEE;
  --icon-positive-on-positive-secondary: #EBFFEE;
  --icon-positive-on-positive-tertiary: #EBFFEE;
  --icon-positive-secondary: #85E0A3;
  --icon-positive-tertiary: #009951;
  --icon-utilities-icon: #F19EDC;
  --icon-utilities-icon-on-measurement: #FAE1FA;
  --icon-warning-default: #FFF1C2;
  --icon-warning-on-warning: #401B01;
  --icon-warning-on-warning-secondary: #FFFBEB;
  --icon-warning-on-warning-tertiary: #FFFBEB;
  --icon-warning-secondary: #E8B931;
  --icon-warning-tertiary: #BF6A02;
  --text-brand-default: #F5F5F5;
  --text-brand-on-brand: #1E1E1E;
  --text-brand-on-brand-secondary: #F5F5F5;
  --text-brand-on-brand-tertiary: #F5F5F5;
  --text-brand-secondary: #D9D9D9;
  --text-brand-tertiary: #B3B3B3;
  --text-danger-default: #FDD3D0;
  --text-danger-on-danger: #FEE9E7;
  --text-danger-on-danger-secondary: #FEE9E7;
  --text-danger-on-danger-tertiary: #FEE9E7;
  --text-danger-secondary: #F4776A;
  --text-danger-tertiary: #EC221F;
  --text-default-default: #FFFFFF;
  --text-default-secondary: rgba(255, 255, 255, 0.698);
  --text-default-tertiary: rgba(255, 255, 255, 0.4);
  --text-disabled-default: #757575;
  --text-disabled-on-disabled: #B3B3B3;
  --text-neutral-default: #E3E3E3;
  --text-neutral-on-neutral: #242424;
  --text-neutral-on-neutral-secondary: #F3F3F3;
  --text-neutral-on-neutral-tertiary: #F3F3F3;
  --text-neutral-secondary: #CDCDCD;
  --text-neutral-tertiary: #B2B2B2;
  --text-positive-default: #CFF7D3;
  --text-positive-on-positive: #EBFFEE;
  --text-positive-on-positive-secondary: #EBFFEE;
  --text-positive-on-positive-tertiary: #EBFFEE;
  --text-positive-secondary: #85E0A3;
  --text-positive-tertiary: #009951;
  --text-utilities-text-on-measurement: #FAE1FA;
  --text-utilities-text-on-overlay: #FFFFFF;
  --text-warning-default: #FFF1C2;
  --text-warning-on-warning: #401B01;
  --text-warning-on-warning-secondary: #FFFBEB;
  --text-warning-on-warning-tertiary: #FFFBEB;
  --text-warning-secondary: #E8B931;
  --text-warning-tertiary: #BF6A02;
}